@tailwind base;

@tailwind components;

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
a {
  text-decoration: none;
  @apply text-blue-100;
}
@tailwind utilities;
